{% load static %}


<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <!-- <h1 class="logo me-auto"><a href="index.html">Presento<span>.</span></a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{% url 'home' %}" class="logo me-auto"><img src="{% static 'img/logo.png' %}" alt=""></a>

    <nav id="navbar" class="navbar order-last order-lg-0 align-items-center">
      <ul>
        <li><a class="nav-link  {% if request.path == '/' %} active {% endif %}" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link{% if request.path == '/about/' %} active {% endif %}" href="{% url 'about' %}">About</a></li>

        <li class="dropdown"><a href="#"><span>Design & Development</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'designers' %}">Website Designing</a></li>
            <li><a href="{% url 'ecomm' %}">eCommerce Website</a></li>
            <li><a href="{% url 'wordpress' %}">Wordpress Website Development</a></li>
          </ul>
        </li>
        <li><a class="nav-link{% if request.resolver_match.url_name == 'digimar' %} active {% endif %}" href="{% url 'digimar' %}">Digital Marketing</a></li>
        <li class="nav-item d-md-none">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <i class="bi bi-menu-button-wide mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="{% url 'contact' %}" class="d-none d-sm-inline-block get-started-btn scrollto">Contact</a>
  </div>
</header>