{% extends 'base/base.html' %}

{% block title_keywords %}
    <title>About Us | Premier Digital Marketing and Website Design Agency in India</title>
    <meta name="description" content="Learn about our journey as a leading digital marketing and website design agency in India, offering affordable and innovative solutions.">
    <meta name="keywords" content="digital marketing agency in India, website design agency in India, affordable websites, freelance website developer, best website agency in Surat">
{% endblock title_keywords %}

{% block content %}

  <section id="hero_about" >

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
 
          <h1 >About Biz499</h1>

      </div>
    </div>

  </section>



  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-center">
            <div class="content">
              <h3>About Biz499</h3>
              <p>
                Biz499 is a dynamic marketing agency based in Surat, founded by an IIT alumnus. We specialize in a variety of creative services, including website development, graphic design, animated videos, and innovative marketing campaigns. Our team combines technical expertise with creative flair to deliver customized solutions that elevate your brand's digital presence. Partner with us for impactful and result-driven strategies that resonate with your audience.
              </p>
              <a class="about-btn" data-bs-toggle="modal" data-bs-target="#myModal" ><span>View Services</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center mt-4 mt-xl-0 ">
              <div class="row">
                <div class="col-md-12 icon-box mt-4 mt-xl-0" data-aos="fade-up" data-aos-delay="100">
                  <div class="d-flex flex-column align-items-left flex-xl-row">
                    <div class="icon"><i class='bx bxs-calendar'></i></div>
                    <div class="content">
                      <h4>Years of Experience</h4>
                      <p>We started in the year 2012 & have catered to over 300 businesses and counting.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="d-flex flex-column align-items-left flex-xl-row">
                    <div class="icon"><i class="bx bxs-group"></i></div>
                    <div class="content">
                      <h4>Qualified Team</h4>
                      <p>Professionally qualified developers, contetent writers & graphics designers with IITian Founder.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <div class="d-flex flex-column align-items-left flex-xl-row">
                    <div class="icon"><i class="bx bxs-like"></i></div>
                    <div class="content">
                      <h4>Quality Services</h4>
                      <p>When we work for you, you'll surpised with the quality of work & results we produce.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End .content-->
          </div>
          
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- description_about section start  -->
    <section id="hero_about" >

      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="list-container">
   
            <h1 class="mb-5">We offer a wide range of services including:</h2>

            <ul class="bullet-list">
              <li><span class="underline">Web development:</span> custom website development, CMS development, web application development, and website maintenance</li>
              <li><span class="underline">Web design:</span> creating websites that are visually appealing and provide a seamless user experience</li>
              <li><span class="underline">E-commerce solutions:</span> online store development, payment gateway integration, and e-commerce website maintenance</li>
              <li><span class="underline">Digital marketing:</span> SEO, SEM, social media marketing, and email marketing</li>
            </ul>
  
        </div>
      </div>
  
    </section>

    <!-- end description_about section  -->


    <section class="extra_text">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      
    <p>We understand that every business is unique so we are always there for you and your business for the custom-tailor made solutions. </p>

    <p>Our aim is to provide customized solutions to meet the unique needs of each client. We understand that every business has its own requirements, and we strive to deliver innovative solutions that cater to those needs. Get in touch with us today to learn more about how we can help your business establish a strong online presence.</p>
    
    </div>
  </section>

  </main><!-- End #main -->

  
  {% endblock content %}

