{% extends 'base/base.html' %}
{% load static %}

{% block title_keywords %}
    <title>Ecommerce Development Company | Shopify & WordPress Experts in India</title>
    <meta name="description" content="Your go-to eCommerce development company in India for Shopify and WordPress solutions. Build your dream eCommerce website with us.">
    <meta name="keywords" content="ecommerce developers, shopify web developers in India, wordpress developers in India, ecommerce websites, shopify websites">



<style>


.animated-part {
            display: inline-block;

            position: relative;

            margin-top: 13px;

        }

.animated-part svg {
            fill: none;
            stroke: #e03a3c;
            stroke-width: 7;
            stroke-miterlimit: 10;
            stroke-dasharray: 1250;
            stroke-dashoffset: 1250;
            stroke-linecap: round;
            position: absolute;
            top: 50%;
            left: 50%;
            padding-left: 8px;
            padding-right: 8px;
            width: calc(100% + 25px);
            /* height: 37px; */
            opacity: 0;
            transform: translate(-50%, -50%);
            animation: dash 3s ease-out 1 forwards, opacityChange 3s ease-out 1 forwards;
            z-index: 99;
        }

        @keyframes dash {
            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes opacityChange {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

</style>




      
{% endblock title_keywords %}

 

<!-- Navigation Bar -->

{% block content %}


  <section id="hero" class="d-flex align-items-center" style="background: url('/static/img/ecomm-website-background.jpg') top center no-repeat;">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col">


					<h1 class="mt-4 mb-4">Best <span class="animated-part">Sales<svg id="extraTextsvg" style="height: 68px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7"></path></svg></span> generating eCommerce websites!</h1>
				

          <script>
            // Function to adjust the SVG height
            function adjustSvgHeight() {
              var extraText = document.getElementById('extraTextsvg');
              var windowWidth = window.innerWidth;
          
              if (windowWidth >= 768) {
                extraText.style.height = '68px';
              } else {
                extraText.style.height = '37px';
              }
            }
          
            // Call the function on initial page load
            window.addEventListener('load', adjustSvgHeight);
          
            // Call the function when the window is resized
            window.addEventListener('resize', adjustSvgHeight);
          </script>
				
				<h2>Unlock unparalleled sales potential with Biz499's expertly crafted eCommerce websites. Our designs blend functionality with aesthetic appeal, ensuring a seamless shopping experience for your customers. Elevate your online presence and maximize sales with our best-in-class eCommerce solutions.</h2>
          <a data-bs-toggle="modal" data-bs-target="#myModal" class="btn-get-started" style="background: #e03a3c; border-color: #e03a3c; animation: none; ">Contact Now <i class="bi bi-chevron-right"> </i></a>
        </div>
      </div>
    </div>

  </section>


<main id="main">


<section class="bg-white py-5">
  <div class="container">
      <div class="row">
          <h1 class="text-center mb-5 mt-5">What We Offer with a Website</h1>
          <div class="col-md-4 d-flex flex-column align-items-center">
          <img src="{% static 'img/woocommerce.png' %}" style="max-width: 72px;margin-bottom: 36px;" alt="wooCommerce">              
          <h4 style="margin-bottom: 24px;" >Woocommerce</h4>
          <p class=" text-center">Woocommerce is a simple wordpress plugin which caters to businesses of small and meduium sizes. It enables fast development and simple products uploading panel.</p>
        </div>
          <div class="col-md-4 d-flex flex-column align-items-center">
              <img src="{% static 'img/shopify.png' %}" style="max-width: 72px;margin-bottom: 36px;" alt="wooCommerce">
              <h4 style="margin-bottom: 24px;" >Shopify</h4>
              <p class=" text-center">Shopify is a platform to develop fast and secure ecommerce websites. Shopify is the way to go, if you want a safe and fast website in a small time.</p>
          </div>
          <div class="col-md-4 d-flex flex-column align-items-center">
              <img src="{% static 'img/ux.png' %}" style="max-width: 72px;margin-bottom: 36px;" alt="wooCommerce">
              <h4 style="margin-bottom: 24px;" >Custom</h4>
              <p class=" text-center">If you want a custom website with scalabilty and securtiy and a dedicated SEO and marketing plan, then we have you coovered with our custom built solutions according to your business needs.</p>
          </div>
      </div>
  </div>
</section>

<section class=" p-md-5">
  <div class="container">
    <div class="row mb-5  mt-5 p-5" style="background-color: #f3f3f3;">
      <div class="col-md-6">
        <img src="{% static 'img/ecom1.jpg' %}" alt="Placeholder Image 1" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="mb-3">Custom Ecommerce Website Development</h2>
        <p class="mb-3">Our custom ecommerce website development services are tailored to your unique business needs. We create user-friendly online stores that drive sales and enhance your brand. Whether you're a small startup or a well-established enterprise, our team of expert developers will work closely with you to understand your specific requirements and deliver a custom ecommerce solution that aligns perfectly with your goals.</p>
      </div>
    </div>
    <div class="row mb-5 mt-5 p-5">
      <div class="col-md-6">
        <h2 class="mb-3">Affordable Ecommerce Solutions</h2>
        <p class="mb-3">We offer cost-effective ecommerce solutions that provide exceptional value. Our experts work closely with you to build a website that suits your budget and goals. Our commitment to affordability doesn't mean compromising on quality. We prioritize efficient development processes and smart resource allocation to ensure that your ecommerce site not only fits your financial plan but also meets high standards in terms of functionality, design, and performance.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/ecom2.jpg' %}" alt="Placeholder Image 2" class="img-fluid">
      </div>
    </div>
    <div class="row mb-5 mt-5 p-5" style="background-color: #f3f3f3;">
      <div class="col-md-6">
        <img src="{% static 'img/ecom3.jpg' %}" alt="Placeholder Image 3" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="mb-3">Choose the Right Ecommerce Platform</h2>
        <p class="mb-3">Our experienced team helps you select the ideal ecommerce platform for your business. Whether it's WooCommerce, Shopify, Magento, or custom coding, we've got you covered. We understand that the choice of the platform is a critical decision, and it should align with your business needs, scalability, and long-term goals. Our experts will guide you through the pros and cons of each option, ensuring that you make the best choice for your unique circumstances.</p>
      </div>
    </div>
    <div class="row mb-5 mt-5 p-5">
      <div class="col-md-6">
        <h2 class="mb-3">Unlock Your Ecommerce Potential</h2>
        <p class="mb-3">We're passionate about maximizing your ecommerce potential. Our expert developers create websites that enhance user experience, increase conversions, and boost online sales. We go beyond building a functional website; we focus on the finer details that contribute to a seamless user journey. Our design and development strategies are rooted in optimizing the user interface, ensuring fast loading times, and implementing advanced features that drive engagement and ultimately lead to higher sales and customer satisfaction.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/ecom4.jpg' %}" alt="Placeholder Image 4" class="img-fluid">
      </div>
    </div>
    <div class="row mb-5  mt-5 p-5" style="background-color: #f3f3f3;">
      <div class="col-md-6">
        <img src="{% static 'img/ecom5.jpg' %}" alt="Placeholder Image 5" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="mb-3">Grow Your Online Business</h2>
        <p class="mb-3">Our end-to-end ecommerce development services cover everything from strategy to design and development. We'll take your online business to the next level and help you achieve your goals. From the initial consultation to post-launch support, our team is dedicated to your success. We craft strategies that cater to your growth aspirations, and our development process is designed to evolve with your business. Together, we'll navigate the competitive world of online commerce, scale your business, and realize the full potential of your online presence.</p>
      </div>
    </div>
  </div>
</section>



  </main><!-- End #main -->



  
  {% endblock content %}

