{% extends 'base/base.html' %}
{% load static %}

{% block title_keywords %}
    <title>Leading Website Design Agency in Ahemdabad | Innovative Web Solutions</title>
    <meta name="description" content="Our Ahemdabad-based website design agency excels in delivering innovative web solutions. Get creative, custom websites designed by experts.">
    <meta name="keywords" content="website design agency in Ahemdabad, affordable websites, freelance website developer, website agency in India, best website agency in Surat">
<style>

    .gold {
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
  text-align: center;
  background: linear-gradient(90deg, rgb(255, 230, 9) 0%, rgb(255, 179, 1) 20%, rgb(255, 238, 0) 39%, rgb(255, 238, 0) 50%, rgb(255, 184, 17)60%, rgb(255, 174, 0)80%, rgb(255, 230, 9)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;

}
@keyframes shine {
  to{background-position: right}
 
}
</style>

<style>
/* Flip Animation */
.websiteFeatureFlip {
    position: relative;
}

.websiteFeatureFlip .front,
.websiteFeatureFlip .back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 2s;
    transition-property: transform, opacity;
}

.websiteFeatureFlip .front {
  min-height: 80px;
    transform: rotateX(0deg);
}

.websiteFeatureFlip .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateX(-180deg);
}

.websiteFeatureFlip:hover .front {
    transform: rotateX(180deg);
}

.websiteFeatureFlip:hover .back {
    opacity: 1;
    transform: rotateX(0deg);
}

/* Icon and Text Styling */
.websiteFeatureBlock {
    background-color: #e03a3c; /* Updated shade of red */
}

.websiteFeatureIcon {
    font-size: 5rem; /* Adjust icon size */
    color: #e03a3c; /* Updated shade of red */
}

.websiteFeatureBlock > div:first-child {
    background-color: #ffffff;
    border-radius: 50%; /* Makes it a circle */
    padding: 25px;
    width: auto;
    min-width: 140px; /* This ensures a more circular appearance */
    height: 140px; /* Same height as width to create a circle */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Space between the icon and the text */
}

.websiteFeatureText {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0;
}


</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>
  .accordion-item-title {
      flex-grow: 1;
      margin-left: 10px; /* or any desired space between icon and title */
  }
</style>
<style>
  .accordion {
    width: 100%;
    margin: 0;
    padding: 0;
    /* margin: 30px auto 20px; */
    /* background: #FFF; */
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #FFF; /* Updated to white text color */
    font-size: 1.15rem; /* Increased font-size */
    font-weight: 700;
    background: #E21B2B; /* Updated to the red color from the image */
    border-bottom: 1px solid #FFF; /* Changed to white border color */
    position: relative;
  }
  
  .accordion li:last-child .link {
    border-bottom: 0;
  }
  
  .accordion li:nth-child(3) i {
    left: 18px;
}

  .accordion li i {
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 24px; /* Increased icon size */
    color: #FFF; /* Changed to white color */
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 22px; /* Adjusted size */
  }
  
  /* .accordion li.open .link {
    color: #b63b4d;
  }
  
  .accordion li.open i {
    color: #b63b4d;
  } */
  
  .accordion li.open i.fa-chevron-down {
    transform: rotate(180deg);
  }
  
  .accordion > li > p {
    display: none;
    background: #F2F2F2; /* Lighter gray background for submenu */
    font-size: 18px; /* Increased font size */
    padding: 12px;
    padding-left: 42px;
}

  </style>


<style>
  /* .tab-container { display: block; } */
.container.mt-2 { display: none; }

@media screen and (max-width: 768px) {
   .container_desktop { display: none; }
   .container.mt-2 { display: block; }
}
</style>

<style>
/* Style the tab */
.tab {
  float: left;

  background-color: #f1f1f1;
  width: 30%;
  min-height: 415px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: white;
    color: red;
}

.tab button.active:first-child {
    border-bottom: 1px solid #ccc; /* Border at the bottom for the first child */
}

.tab button.active:last-child {
    border-top: 1px solid #ccc; /* Border at the top for the last child */
}

.tab button.active:not(:first-child):not(:last-child) {
    border-top: 1px solid #ccc; /* Border at the top for others */
    border-bottom: 1px solid #ccc; /* Border at the bottom for others */
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  min-height: 415px;
}

.tab-container {
  border: 1px solid #ccc; /* Add a border around the entire container */
  display: flex; /* Make the children (.tab and .tabcontent) display side by side */
}

</style>

      
{% endblock title_keywords %}

 

<!-- Navigation Bar -->

{% block content %}


  <section id="hero" class="d-flex align-items-center" style="background: url('/static/img/website-development-in-ahemdabad.jpg') top center no-repeat;">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col">
          <h1 class="mb-4 mt-5">Professional Website Design Company in Ahemdabad</h1>
          <p class="gold mb-4">Standout, Shine, Succeed: Your Digital Journey Begins Here. </p>          
          <p style="font-size:1.2rem;line-height:1.5rem;font-weight:600;color: white;">Your success is our code, and our success is measured by the success of the websites we create. Join us in the exciting journey of reimagining the digital realm, and let's work together to unlock the true potential of your brand. Discover what it means to have a web partner that's dedicated to designing dreams, one pixel at a time.</p>
        
          <a data-bs-toggle="modal" data-bs-target="#myModal"  class="btn-get-started" style="background: #e03a3c; animation: none;" onmouseover="this.style.background='#111111';" onmouseout="this.style.background='#e03a3c';">Contact Now <i class="bi bi-chevron-right"> </i></a>
        </div>
      </div>
    </div>

  </section>



<main id="main">

<!-- chatgpt did -->


<section class="bg-white py-5">
  <div class="container mb-5">
      <div class="row"> <!-- Use align-items-center to align the text and image in the center -->
          <div class="col-xl-6 order-md-2 image-container"> <!-- Swap order for medium devices and above -->
              <img src="{% static 'img/developer_in_ahemdabad.png' %}" class="img-fluid mt-5 mb-2" >
          </div>
          <div class="col-xl-6 order-md-1">
              <h1 class="text-left mb-2 mt-5">Biz499-The Best Website Design Company in Ahemdabad </h1>
              <p class="text-left">A website helps you get better credibilty, more exposure, better paid and organic marketing opportunities and more. There are chances that people find you online and once they are there chances are you would capture their interest in your product or service. You can get organic or digital marketing traffic on your website to make more leads which ultimately leads to sales. You can showcase your brand, your identity, what you stand for and what solutions ultimately you provide that the customer is looking for. You can also save time for prospecting your leads and providing customer care services. Also with our easy to use admin panels you can update your posts, announcements and offers of your business.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-left">A website helps you get better credibilty, more exposure, better paid and organic marketing opportunities and more. There are chances that people find you online and once they are there chances are you would capture their interest in your product or service. You can get organic or digital marketing traffic on your website to make more leads which ultimately leads to sales. You can showcase your brand, your identity, what you stand for and what solutions ultimately you provide that the customer is looking for. You can also save time for prospecting your leads and providing customer care services. Also with our easy to use admin panels you can update your posts, announcements and offers of your business. And finally you can short-circuit your way to business and more sales by digital marketing using a well built website yourself or with us, saving you a lot of time and energy. </p>
              <a data-bs-toggle="modal" data-bs-target="#myModal"  class="btn-get-started" style="border: none; background: #e03a3c; animation: none;" onmouseover="this.style.background='#111111';" onmouseout="this.style.background='#e03a3c';">Get your Website</a>
          </div>
      </div>
  </div>
</section>


<section id="hero_alt_down" class="d-flex align-items-center">

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col">
        <h1 class="mb-4 mt-5">Is having a website important for your business?</h1>
        <p style="font-size:1.2rem;line-height:1.5rem;font-weight:400;color: white;">The answer to this is and will always be YES, irrespective of a business type website development has become a crucial part of Ahemdabad's commercial sphere. These days, especially post COVID-19, your target audience has become more tech-driven, they want to explore the market and look into different choices at their fingertips. So having an online presence is not enough for this digitally adapted world. Get a REMARKABLE, LEAD MAGNET, and OUTSTANDING website for your business ASAP through the most adept Web Designing Company in Ahemdabad, Biz499.</p>
      
      </div>
    </div>
  </div>

</section>




  <section class="container"> 
    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
          <h1 class="mb-5" style="font-size: 2.6rem;  font-weight: 700;">How we design a Top Performing Business Website for your business in Ahemdabad </h1>

    <p style="font-size: 1.2rem;font-weight: 500;">
      We have years of expertise building amazing websites for our clients as a trustworthy Surat website development company. Having worked on hundreds of web development projects, we have gained experience and understanding with each successful website we have produced.

      We've learned throughout time what makes a website unique and how to keep it updated and user-friendly. Our all-inclusive Surat website design services are focused on creating strong, enterprise-ready apps that will support the online growth of your company.
      
      
    </p>     

  </div>
<div class="container_desktop">
  
    <div class="tab-container">

      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Ideation')" id="defaultOpen">Website planning & ideation</button>
        <button class="tablinks" onclick="openCity(event, 'Design')">Website Design</button>
        <button class="tablinks" onclick="openCity(event, 'Development')">Content Development</button>
        <button class="tablinks" onclick="openCity(event, 'Building')">Website Building & Testing</button>
        <button class="tablinks" onclick="openCity(event, 'Domain')">Hosting & Domain Management</button>
        <button class="tablinks" onclick="openCity(event, 'Maintenance')">Website Maintenance & Updation</button>
      </div>
      
      <div id="Ideation" class="tabcontent">
        <h3 class="mt-4">Website planning & ideation</h3>
        <p>Before we begin building your web presence, our team of expert website developers in Ahemdabad discusses every aspect of your website requirement. Collectively, we curate all the ideas, navigation, user experience, actionable steps, and other essential and non-essential aspects of your new website. Our experienced and creative website designers in Ahemdabad then put together all the ideas to wireframe the right structure. This helps us create a truly immersive website that is both powerful and business ready.</p>
      </div>
      
      <div id="Design" class="tabcontent">
        <h3 class="mt-4">Website Design</h3>
        <p>Our skilled designers prioritize aesthetics and functionality, ensuring that your website not only looks appealing but also serves its intended purpose effectively.</p> 
      </div>
      
      <div id="Development" class="tabcontent">
        <h3 class="mt-4">Content Development</h3>
        <p>Our content creators ensure that the content on your site is clear, concise, and engaging to provide value to your audience and drive actionable results.</p>
      </div>
      <div id="Building" class="tabcontent">
        <h3 class="mt-4">Website Building & Testing</h3>
        <p>Our development team brings your vision to life, ensuring optimal performance and responsiveness. Post development, rigorous testing is conducted to ensure there are no bugs or issues.</p>
      </div>
      <div id="Domain" class="tabcontent">
        <h3 class="mt-4">Hosting & Domain Management</h3>
        <p>We provide reliable hosting solutions and manage your domain to ensure your website is always up and running for your audience.</p>
      </div>
      <div id="Maintenance" class="tabcontent">
        <h3 class="mt-4">Website Maintenance & Updation</h3>
        <p>To ensure the longevity and relevance of your website, our team offers regular updates and maintenance services.</p>
      </div>

      
      </div>
 


</div>

      
      
      <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      </script>
      


<style>
          .card {
            border: 1px solid #ddd;
            margin-bottom: 10px;
        }
        .card-header {
            background-color: white;
            color: black;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            padding: 12px 16px;
            font-size: 1.2rem;
        }
        .card-header[aria-expanded="true"] {
            color: red;
        }
        .card-body {
            background-color: white;
            color: black;
            padding: 16px;
        }

        /* Flexbox modifications */
        .flex-container {
            display: flex;
            flex-direction: column;
        }

</style>

      <div class="container mt-2">
        <div id="websiteAccordion">
            <!-- Website planning & ideation -->
            <div class="card flex-container">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                    Website planning & ideation
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        Before we begin building your web presence, our team of expert website developers in Ahemdabad discusses every aspect of your website requirement. Collectively, we curate all the ideas, navigation, user experience, actionable steps, and other essential and non-essential aspects of your new website. Our experienced and creative website designers in Ahemdabad then put together all the ideas to wireframe the right structure. This helps us create a truly immersive website that is both powerful and business ready.
                    </div>
                </div>
            </div>
    
            <!-- Website Design -->
            <div class="card flex-container">
                <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                    Website Design
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                        Our skilled designers prioritize aesthetics and functionality, ensuring that your website not only looks appealing but also serves its intended purpose effectively.
                    </div>
                </div>
            </div>
    
            <!-- Content Development -->
            <div class="card flex-container">
                <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                    Content Development
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                    <div class="card-body">
                        Our content creators ensure that the content on your site is clear, concise, and engaging to provide value to your audience and drive actionable results.
                    </div>
                </div>
            </div>
    
            <!-- Website Building & Testing -->
            <div class="card flex-container">
                <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                    Website Building & Testing
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                    <div class="card-body">
                        Our development team brings your vision to life, ensuring optimal performance and responsiveness. Post development, rigorous testing is conducted to ensure there are no bugs or issues.
                    </div>
                </div>
            </div>
    
            <!-- Hosting & Domain Management -->
            <div class="card flex-container">
                <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false">
                    Hosting & Domain Management
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                    <div class="card-body">
                        We provide reliable hosting solutions and manage your domain to ensure your website is always up and running for your audience.
                    </div>
                </div>
            </div>
    
            <!-- Website Maintenance & Updation -->
            <div class="card flex-container">
                <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false">
                    Website Maintenance & Updation
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                    <div class="card-body">
                        To ensure the longevity and relevance of your website, our team offers regular updates and maintenance services.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    
    <script>
$(document).ready(function() {
    // Collapse all other accordions when one is opened and reset the color
    $('#websiteAccordion .card-header').on('click', function() {
        // Collapse all accordions
        $('#websiteAccordion .collapse').collapse('hide');

        // Reset the color of all headers to black
        $('#websiteAccordion .card-header').css('color', 'black');

        // Change the color of the clicked header to red, it will be applied after the collapse animation
        $(this).css('color', 'red');
    });

    // Reset color when an accordion finishes collapsing
    $('#websiteAccordion .collapse').on('hidden.bs.collapse', function () {
        $(this).parent().find('.card-header').css('color', 'black');
    });
});
    </script>
  </section>


<!-- last 2 sections -->

<!-- Why Choose Biz499? Section -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-2">Websites for All Business Types</h2>

<p style="font-size: 1.2rem;">Elevate your online presence with Biz499, the leading website design company in Ahmedabad. Our expert team specializes in crafting visually stunning and highly functional websites. Choose us for innovative designs that capture the essence of your brand, setting you apart in the competitive digital landscape of Ahmedabad.</p>
<div class="text-center my-4">
  <a data-bs-toggle="modal" data-bs-target="#myModal"  class="btn-get-started" style="border: none; background: #e03a3c; animation: none;" onmouseover="this.style.background='#111111';" onmouseout="this.style.background='#e03a3c';">Create Your own Website </a>
</div>
    </div>
    <div class="col-md-6">
      <div class="d-flex">
        <!-- margin-block-start: auto -->
          <i class="bi bi-hand-index-thumb text-danger" style="display: inline-block; transform: rotate(90deg); font-size: 3rem; margin-right: 3rem; "></i>
          <div>
              <h5>Experience & Expertise</h5>
              <p>With a decade of experience, Biz499 is Surat's leading choice for dynamic web solutions tailored for your needs.</p>
          </div>
      </div>
      <div class="d-flex">
          <i class="bi bi-hand-index-thumb text-danger" style="display: inline-block; transform: rotate(90deg); font-size: 3rem; margin-right: 3rem;"></i>
          <div>
              <h5>Experience & Expertise</h5>
              <p>With a decade of experience, Biz499 is Surat's leading choice for dynamic web solutions tailored for your needs.</p>
          </div>
      </div>
      <div class="d-flex">
          <i class="bi bi-hand-index-thumb text-danger" style="display: inline-block; transform: rotate(90deg); font-size: 3rem; margin-right: 3rem;"></i>
          <div>
              <h5>Experience & Expertise</h5>
              <p>With a decade of experience, Biz499 is Surat's leading choice for dynamic web solutions tailored for your needs.</p>
          </div>
      </div>
  </div>
</div>

<div class="row">

      <div class="col-md-12 ">
          <div class="d-flex ">
              <i class="bi bi-hand-index-thumb text-danger" style="display: inline-block; transform: rotate(90deg); font-size: 3rem; margin-right: 3rem;"></i>
              <div>
                  <h5>Customized Solutions</h5>
                  <p>We understand each business is unique. We offer tailored web solutions to meet your specific requirements.</p>
              </div>
          </div>
      </div>
      <div class="col-md-12 ">
          <div class="d-flex">
              <i class="bi bi-hand-index-thumb text-danger" style="display: inline-block; transform: rotate(90deg); font-size: 3rem; margin-right: 3rem;"></i>
              <div>
                  <h5>Affordable Pricing</h5>
                  <p>We offer competitive pricing ensuring you get value for your money without compromising on quality.</p>
              </div>
          </div>
      </div>
  </div>
 </div>




    <section style="  width: 100%;
    background-color: #e03a3c;
    position: relative;
    text-align: center;">
<div class="container">
      <p style="color: white;font-size: 1.2rem; font-weight: 600;">Call us today on <a href="tel:+917990636954" class="phone-number" style="color: white;font-size: 1.2rem; font-weight: 600;text-decoration: none;">+91 79906 36954</a>  to discuss your website development requirements. <br> Have a unique website concept? Your trusted website designers in Surat are here to turn it into reality. </p>
      <p class="mt-4" style="color: white;font-size: 1.2rem; font-weight: 600;">Explore our website to know more about Biz499 and our website and digital marketing solutions to help your business succeed online. </p>
    </div>
    </section>
  </main><!-- End #main -->

  
<script>
// Define the text to be animated
const textToAnimate = "WordPress";

// Get the SVG path and text elements
const textPath = document.getElementById("text-path");
const textElement = document.querySelector(".text");

// Set the path data to match the text length
const pathLength = textToAnimate.length * 20; // Adjust this value as needed
textPath.setAttribute("d", `M0,0 H${pathLength}`);

// Create the animation
const animation = document.createElementNS("http://www.w3.org/2000/svg", "animate");
animation.setAttribute("attributeName", "startOffset");
animation.setAttribute("from", -pathLength);
animation.setAttribute("to", pathLength);
animation.setAttribute("dur", "3s");
animation.setAttribute("repeatCount", "indefinite");
textPath.appendChild(animation);

</script>
<!-- Include Bootstrap JS from a CDN -->
{% endblock content %}
